@using System.Collections
@using PizzaProject2.Models.Database
@*@model IEnumerable<PizzaProject2.Models.Database.Pizza>*@
@model IEnumerable<PizzaProject2.Models.OrderItemViewModel>

<div class="cart-style">
    <h2>
        Bestillingskurv <span class="glyphicon glyphicon-shopping-cart"></span>
        @Html.ActionLink("Betaling", "ShoppingCart", "Order", null, new { @class = "btn btn-success" })
    </h2>

    <table class="table">
        <tr>
            <th>Antal</th>
            <th>Nr.</th>
            <th>Navn</th>
        </tr>

        @foreach (var pizza in Model)
        {
        <tr>
            @*<td>1</td>
        <td>@pizza.Nr</td>
        <td>@pizza.Name</td>*@
            <td>@pizza.Amount</td>
            <td>@pizza.ThePizza.Nr</td>
            <td>@pizza.ThePizza.Name</td>
        </tr>
        }

    </table>
</div>
