@model IEnumerable<PizzaProject2.Models.OrderItemViewModel> 

@{
    ViewBag.Title = "ShoppingCart";
}

<div class="container">
    <h2>Bestillingskurv</h2>

    <table class="table">
        <tr>
            <th>Nr.</th>
            <th>Navn</th>
            <th>Fyld</th>
            <th>Pris</th>
            <th>Antal</th>
            <th></th>
        </tr>
        @foreach (var pizza in Model)
        {
            <tr>
                <td>@pizza.ThePizza.Nr</td>
                <td>@pizza.ThePizza.Name</td>
                <td>@pizza.ThePizza.Toppings</td>
                <td>@pizza.ThePizza.Price kr</td>
                <td>@pizza.Amount</td>
                <td>
                    <div class="new-button-class">
                        <button type="submit" class="btn btn-danger">-</button>
                    </div>
                </td>
            </tr>
        }
    </table>

    @using (Html.BeginForm("Pay", "Order", FormMethod.Post,
        new { onclick = "return confirm('Er du sikker på at du vil betale?');" }))
    {
        <button type="submit" class="btn btn-primary">Betal</button>
    }
</div>